<form [formGroup]="blogForm" class="container" (ngSubmit)="submit(blogForm.value)">
    <br>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" formControlName="title" id="title" class="form-control">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" formControlName="description" id="description" class="form-control">
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" formControlName="author" id="author" class="form-control">
    </div>
    <ng-container formArrayName="comments">
        <label for="comments">Comments</label>
        <div class="input-group mb-3" *ngFor="let _ of commentsFormArray.controls; index as i">
            <input [formControlName]="i" class="form-control" />
            <button type="button" class="btn btn-danger" (click)="deleteComment(i)">
            Delete
            </button>  

        </div>
        <button type="button" (click)="addComment()" class="btn btn-info">
            Add Comment
        </button>
    </ng-container>
    <br><br>
    <div style="text-align: right;">
        <button type="button" (click)="submit(blogForm.value)" class="btn btn-info ">
            Submit
        </button>
    </div>