ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #04AA6D;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: right;
    padding: 5px 10px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #015536;
  }
  
  .router-link-active {
    background-color: #111;
  }